In [1]:
%store -r __import

__import

IPython.macro.Macro("# basic imports\nimport matplotlib.pyplot as plt\nimport seaborn as sns\nimport pandas as pd\nimport numpy as np\n\n# sklearn\n# preprocessing, model selection and metrics\nfrom sklearn.preprocessing import LabelEncoder, OneHotEncoder\nfrom sklearn.model_selection import train_test_split, KFold, cross_val_score\nfrom sklearn.metrics import mean_squared_error, mean_absolute_error\n\n# models\nfrom sklearn.linear_model import Lasso, Ridge\nfrom sklearn.ensemble import RandomForestRegressor\nfrom sklearn.ensemble import AdaBoostRegressor\n\n# visualize importances\nimport shap\n\npd.set_option('max_columns', None)\nplt.style.use('ggplot')\n")

In [17]:
__import

In [18]:
new_types = {
    'row_id': 'int64',
    'timestamp': 'int64',
     'user_id': 'int32',
     'content_id': 'int16',
     'content_type_id': 'int8',
     'task_container_id': 'int16',
     'user_answer': 'int8',
     'answered_correctly': 'int8',
     'prior_question_elapsed_time': 'float32',
     'prior_question_had_explanation': 'boolean'
}

In [20]:
train_df = pd.DataFrame()
for c in tqdm(pd.read_csv('/home/tuts/datasets/riid/train.csv', low_memory=True, dtype=new_types, chunksize=1_000_000)):
    c = c[c['answered_correctly']!=-1]
    train_df = train_df.append(c)
# train_df = pd.read_csv('/home/tuts/datasets/riid/train.csv', low_memory=True, dtype=new_types)

102it [04:15,  2.51s/it]

In [21]:
train_df.shape

(99271300, 10)

In [22]:
train_df.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,<NA>
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False

In [24]:
train_df.to_csv('/home/tuts/datasets/riid/train_raw_cleaned.csv')

In [25]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99271300 entries, 0 to 101230331
Data columns (total 10 columns):
 #   Column                          Dtype
---  ------                          -----
 0   row_id                          int64
 1   timestamp                       int64
 2   user_id                         int32
 3   content_id                      int16
 4   content_type_id                 int8
 5   task_container_id               int16
 6   user_answer                     int8
 7   answered_correctly              int8
 8   prior_question_elapsed_time     float32
 9   prior_question_had_explanation  boolean
dtypes: boolean(1), float32(1), int16(2), int32(1), int64(2), int8(3)
memory usage: 3.8 GB

In [26]:
tdf = pd.read_csv('/home/tuts/datasets/riid/train_raw_cleaned.csv', low_memory=True, nrows=10)

In [27]:
tdf.head()

,Unnamed: 0,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,4,137965,115,7922,0,4,1,1,11000.0,False

In [28]:
train_df.to_pickle('/home/tuts/datasets/riid/train_raw_cleaned.pkl')