In [8]:
import pandas as pd
import gc
from tqdm import tqdm

In [9]:
files_range = range(10_000, 410_001, 10_000)

In [10]:
df = pd.DataFrame()

In [11]:
for i in tqdm(files_range):
    s = str(i)
    data = pd.read_csv(f'~/datasets/meli-challenge-2020/train_dataset{s}.csv')
    df = pd.concat([df, data])

100%|██████████| 41/41 [00:29<00:00,  1.38it/s]

In [12]:
last_df = pd.read_csv('/home/tuts/datasets/meli-challenge-2020/train_dataset_last3163.csv')

In [13]:
df = pd.concat([df, last_df])

In [14]:
df.to_csv('/home/tuts/datasets/meli-challenge-2020/complete_data.csv', index=False)

In [15]:
df.shape

(11999166, 5)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11999166 entries, 0 to 94791
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      int64
 1   event_info   object
 2   event_time   object
 3   event_type   object
 4   item_bought  int64
dtypes: int64(2), object(3)
memory usage: 549.3+ MB

In [17]:
df.user_id.max()

413162

In [18]:
df.item_bought.max()

2102239

In [19]:
df.head()

,user_id,event_info,event_time,event_type,item_bought
0,0,1786148,2019-10-19T11:25:42.444-0400,view,1748830
1,0,1786148,2019-10-19T11:25:57.487-0400,view,1748830
2,0,RELOGIO SMARTWATCH,2019-10-19T11:26:07.063-0400,search,1748830
3,0,1615991,2019-10-19T11:27:26.879-0400,view,1748830
4,0,1615991,2019-10-19T11:28:36.558-0400,view,1748830